{% extends 'base.html.twig' %}
{% block body %}
	<h1>Artikel overzicht</h1>
	<ul>
	{% for artikel in artikelen %}
	<li>

	{{ artikel.huidigeVoorraad }}, {{ artikel.minimumVoorraad }}

	</li>
	{% endfor %}
	<ul>
{% endblock %}