{% extends 'base.html.twig' %}
{% block body %}
<style>
	tr{
		border: none !important;
	}
	th{
		border: none !important;
	}
	tbody{
		border: none !important;
	}
</style>
<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			{% for bestelregel in bestelregels %}
			{% if loop.first %}
			<h2>Bestelling #{{ bestelregel.bestelnummer }}</h2>
			<a class="btn btn-primary btn-xs" Title="Product toevoegen aan bestelling"  href="{{ path('nieuwebestelregel', {'a':bestelregel.bestelnummer}) }}">Product toevoegen</a><br><br>
			{% endif %}
			{% endfor %}

			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped table-hover">

					<thead>

						<th>Artikelnummer</th>
						<th>Hoeveelheid</th>

					</thead>
					{% for bestelregel in bestelregels %}
					<tbody>

						<tr style="background-color: white;">
							<td>{{ bestelregel.artikelnummer}} </td>
							<td>{{ bestelregel.hoeveelheid}} </td>
						</tr>
					</tbody>
					{% endfor %}	
				</table>
		</div>
	</div>
</div>
{% endblock %}