{% extends 'base.html.twig' %}
{% block body %}

<style>
.col-md-12 {
	display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
    border-radius: 25px;
      padding: 10px; 
}
body {
	margin-bottom: 40px;	
}
.form-group {
	padding-right: 250px;
	padding-left: 250px;
}
input.btn {
	padding-left: 250px;
	display: inline-block;
	margin-left: 250px;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 5px 10px;


}

a.btn {
	padding-left: 240px;
	display: inline-block;
	margin-left: 5px;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 5px 10px;


}


</style>
<body>
	<div class="container" ></div>
	<div class="col-md-12" ></div>
	<form method="post" action="">
		{{ form_widget(form) }}
		<input class="btn btn-success btn-xs" type="submit" value="Toevoegen"> 
		<a class="btn btn-danger btn-xs" type="submit" href="javascript:history.back()">Annuleren</a>
	</form>

</body>
{% endblock %}