{% extends 'base.html.twig' %}
{% block body %}

<style>
body {
	margin-bottom: 40px;	
}
.form-group {
	padding-right: 250px;
	padding-left: 250px;
}
input.btn {
	padding-left: 250px;
	display: inline-block;
	margin-left: 250px;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


</style>
<body>
	<div class="container" ></div>
	<form method="post" action="">
		{{ form_widget(form) }}
		<input class="btn btn-primary btn-xs" type="submit" value="Wijzig" style="width:60px;height:30px;" >
		<a href="javascript:history.back()">Annuleren</a>
	</form>

</body>
{% endblock %}