{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

body {
 background: url(../img/winkel2.jpg);
 background: no-repeatss}

</style>
{% endblock %}

{% block body %}
<head>

</head>
<body>
<div class="container">
<div class="lunenburg-service-afbeelding-hover"></div>
<h1> WELKOM IN HET VMS </h1><ul>
<H2>VAN LUNENBURG</H2>
</div>
</body>
{% endblock %}